{{>menu}}
<div class="mainContainer">
    <h1>Error</h1>
    <hr>
    <br>
    <h2>¡Oops! El sitio que buscas no está disponible</h2>
    <br>
    <h3>Por favor verifica tus credenciales y el nombre del recurso e intenta nuevamente. O si lo prefieres puedes volver al inicio</h3>
    <br>
    <a href="/login" class="passwordButton">Volver al Inicio</a>
    <br>

</div>
