{{>menu}}
<div class="mainContainer">
    <h1>¿Olvidaste tu Password?</h1>
    <hr>
    <br>
    <h2>Vamos a Reestablecer tu contraseña:</h2>
    <br>
    <h3>Por favor indícanos el correo con el que estás registrad@</h3>
    
    <input id="emailInput" type="email" name="email" placeholder="email">
    <button id="verifyEmail" value="enviar">enviar</button>
    <div id="error"></div>


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/password.js"></script>