{{>menuLoggedUser}}
<div class="mainContainer">
    <h1>Documentos de Usuario</h1>
    <hr>
    <h2>!Hola! {{user.first_name}}, vamos a actualizar tus datos en sistema</h2>
    <h3>Por favor proporciona los documentos solicitados a continuación</h3>
                      <p>{{user._id}}</p>
    <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
        <div>
            <p>Imágenes de tu Perfil</p>
            <input type="file" name="upload" />
            {{!-- <input type="text" name="profilePic" placeholder="profilePic"> --}}
            <select name="name">
                <option value="profilePic" selected>Foto de Perfil</option>
                <option value="identificacion">Identificacion</option>
                <option value="compDomicilio">Comprobante de Domicilio</option>
                <option value="edoCuenta">Estado de Cuenta</option>
            </select>
                
        </div>   
        <br>
        <input type="submit" value="Grabar">
    </form>

    {{!-- <form action="/api/{{user._id}}/documentos" method="post" enctype="multipart/form-data">
     <div>
        <div>
        <p>Documentos Personales</p>
            <input type="file" name="Identificacion" />
            <input type="text" name="identificacion" placeholder="Identificacion"><br>
            <input type="file" name="domicilio" />
            <input type="text" name="domicilio" placeholder="domicilio"><br>
            <input type="file" name="statusCuenta" />
            <input type="text" name="statusCuenta" placeholder="statusCuenta">
        </div> 
        <div>          
        <p>Imágenes de Tus productos</p>
            <input type="file" name="producto" />
            <input type="text" name="producto" placeholder="producto">
        </div>   
     </div>
      <br>
        <input type="submit" value="Grabar">
    </form>
      --}}

  
   
</div>
