{{>menu}}
<div class="mainContainer">
    <h1>¡Lo sentimos, hubo un error!</h1>
    <hr>
    <br>
    <h2>{{details}}</h2>
    <br>
    <br>
    <a href="/password" class="passwordButton">Generar un Nuevo Token</a>
    <br>

</div>
