{{>menu}}
<div class="mainContainer" data-email="{{email}}" data-oldPassword="{{userOldPassword}}">
    <h1>Bienvenid@ {{userName}} Vamos a Reestablecer tu Contraseña</h1>
    <hr>
    <br>
    <h2>Por favor indícanos el NUEVO password de tu cuenta:</h2>
    <br>
    {{!-- <form action="/api/sessions/resetPassword" method="post"> --}}
    <input id="passwordInput" type="password" name="password" placeholder="password">
    <button id="newPasswordButton" type="button" >Enviar</button>
    {{!-- </form> --}}
    <div id="response"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>